{% extends 'base_.html' %}

{% block content %}
    <section class="items">
      {% if posts_all %}
        {% for post in posts_all %}
            <div class="items__item item">
        <div class="item__top">
          <a href="{{ url_for('bp_users.user_name_page',username=post.poster_name) }}" class="item__head">
            <div class="item__ava-wrap">
              <img src="{{ post.poster_avatar }}" alt="" class="item__ava" width="47">
            </div>
            <span class="item__username">{{ post.poster_name }}</span>
          </a>
        </div>
        <a href="{{ url_for('bp_posts.post_pk', pk=post.pk) }}" class="item__post-link">
          <img src="{{ post.pic }}" alt="" width="348" class="item__post-img">
        </a>
        <p class="item__descr">{{ post.content|truncate(50) }}</p>
        <div class="item__post-info">
          <div class="item__counter">
            <img src="{{ url_for('static', filename='img/eye.png') }}" alt="" class="item__counter-icon" width="26">
            <span class="item__counter-text">212</span>
          </div>
        </div>
        <div class="item__post-bottom">
          <a href="{{ url_for('bp_posts.post_pk', pk=post.pk) }}" class="item__btn-more">Подробнее</a>
          <button type="button" class="item__bookmark-btn">
            <img src="{{ url_for('static', filename='img/bookmark.png') }}" alt="" class="item__bookmark-icon" width="24">
          </button>
        </div>
      </div>
        {% endfor %}
      {% endif %}
      </section>
{% endblock content %}
