{% extends 'base_.html' %}

{% block content %}

    <section class="items">
      <div class="items__item item item--post">
        <div class="item__top">
          <a href="{{ url_for('bp_users.user_name_page',username=post.poster_name) }}" class="item__head">
            <div class="item__ava-wrap">
              <img src="{{ post.poster_avatar }}" alt="" class="item__ava" width="47">
            </div>
            <span class="item__username">{{ post.poster_name }}</span>
          </a>
          <button type="button" class="item__bookmark-btn">
            <img src="{{ url_for('static', filename='img/bookmark.png') }}" alt="" class="item__bookmark-icon" width="24">
          </button>
        </div>
        <a href="" class="item__post-link">
          <img src="{{ post.pic }}" alt="" width="348" class="item__post-img">
        </a>
        <div class="item__descr">
          <p class="item__text">
            {{ post.content }}
          </p>

        </div>
        <div class="item__bottom">
          <div class="item__post-info">
            <p class="item__comments-counter">{{comments|length}} комментария</p>
            <div class="item__counter">
              <img src="{{ url_for('static', filename='img/eye.png') }}" alt="" class="item__counter-icon" width="26">
              <span class="item__counter-text">1023</span>
            </div>
          </div>

          <div class="item__comments">
            {% for comm in comments %}
            <p class="item__comment">
              <b>{{ comm.commenter_name }}:</b> {{ comm.comment }}
            </p>
       {% endfor %}
          </div>

        </div>
      </div>
    </section>

 {% endblock content %}